h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../images/load/headerBG.png");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
  padding: 24px 120px;
  height: 700px;
  margin-bottom: 104px;
  overflow: hidden;
  max-width: 100%;
  position: relative; }
  .header__wrapper {
    max-width: 1020px;
    position: relative;
    margin: 0 auto;
    height: 100%; }
  .header__top {
    height: 76px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__phone {
    color: #fff; }
    .header__phone:hover {
      -webkit-transform: scale(0.5%);
              transform: scale(0.5%); }
  .header__phone-img {
    margin-top: 9px; }
  .header__logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: url("../images/logo.png") no-repeat center;
    background-size: cover;
    height: 76px;
    width: 115px; }
  .header__action {
    color: #fff;
    text-decoration: none;
    position: relative;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 16px; }
    .header__action::before {
      content: "";
      height: 1px;
      background-color: #fff;
      width: calc(100% - 2px);
      position: absolute;
      bottom: -8px;
      margin-left: 1px; }
  .header__title {
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    position: relative;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 16px;
    top: 314px; }
    .header__title::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 35px;
      background-color: #fff;
      top: 0;
      border-radius: 2px; }
  .header__phone-img,
  .header .mobile-nav,
  .header input.toggler-menu {
    display: none; }

@media screen and (max-width: 850px) {
  .header {
    padding: 24px 20px 0;
    height: 568px;
    margin-bottom: 64px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; }
    .header__wrapper {
      max-width: 90%; }
    .header__title {
      font-size: 46px;
      line-height: 40px; } }

@media screen and (max-width: 750px) {
  .header__logo {
    width: 73px;
    height: 48px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .header__phone, .header__action {
    display: none; }
  .header__phone-img,
  .header .sandwich-img,
  .header .sandwich-img::before {
    display: block; }
  .mobile-nav {
    display: block; } }

.nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 48px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: auto; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: inherit; }
  .nav__item_is-active {
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 24px;
    border-radius: 8px; }
  .nav__link {
    text-decoration: none;
    color: #fff; }
  .nav__link:hover {
    color: #9fadc2;
    -webkit-transform: scale(1.02);
            transform: scale(1.02); }

@media screen and (max-width: 850px) {
  .nav {
    bottom: 10px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; } }

@media screen and (max-width: 750px) {
  .nav {
    display: none; } }

.main {
  max-width: 1260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 120px;
  margin: auto; }
  .main a {
    color: #0075ff;
    font-weight: bold; }

section:not(:last-child) {
  padding-bottom: 152px; }
  section:not(:last-child)__heading {
    font-size: 48px;
    line-height: 1;
    position: absolute;
    text-transform: uppercase;
    font-style: bold;
    letter-spacing: -1.5px; }
    section:not(:last-child)__heading__crown {
      position: absolute;
      margin: auto;
      top: 8px; }

.button {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  padding: 19px 63px;
  color: #f2f2f2;
  border: 2px solid #0075ff;
  background-color: #0075ff; }
  .button:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02); }

.heading {
  position: relative;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -1.5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 93px; }
  .heading::before {
    content: url(../images/crown.svg);
    position: absolute;
    margin: auto;
    top: 24px; }
  .heading:first-of-type {
    padding-bottom: 61px; }

@media screen and (max-width: 900px) {
  .main {
    padding: 0 20px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    max-width: 90%; }
  .section:not(:last-child) {
    padding-bottom: 64px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; }
  .heading {
    font-size: 36px;
    line-height: 36px; } }

.main__info {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(2, 1fr); }

.main__info-heading {
  font-size: 48px;
  line-height: 48px;
  font-weight: bold; }

.main__info-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: block;
  margin-bottom: 16px; }

.main__info-paragraf:not(:last-child) {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 40px; }

.main__info-paragraf:last-child {
  font-weight: bold; }

.main__info-text {
  max-width: 500px;
  color: #3e3e3e; }

@media screen and (max-width: 1120px) {
  .main__info {
    grid-template-columns: 1fr;
    grid-gap: 48px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 90%; }
  .main__info-heading {
    font-size: 36px;
    line-height: 36px; } }

.gallery {
  max-width: 1260px; }
  .gallery__button {
    margin: auto;
    color: #0075ff;
    background-color: #f2f2f2; }
  .gallery__caption {
    margin: 24px 0 40px;
    line-height: 27px; }

@media screen and (max-width: 640px) {
  .gallery__button {
    width: 100%; } }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1260px; }
  .photos__img {
    width: calc(50% - 10px);
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 8px; }
  .photos__img_1, .photos__img_6 {
    width: calc(67% - 10px); }
  .photos__img_2, .photos__img_5 {
    width: calc(33% - 10px); }

@media screen and (max-width: 640px) {
  .photos__img_2, .photos__img_5, .photos__img_1, .photos__img_6 {
    width: calc(50% - 10px); } }

.footer {
  background: url(../images/footer.jpg) no-repeat center;
  width: 100%;
  height: 359px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .footer__logo {
    margin-bottom: 40px;
    height: 76px;
    width: 115px; }

@media screen and (max-width: 850px) {
  .footer__logo {
    height: 50px;
    width: 77px; } }

.consultation {
  display: grid;
  grid-template-columns: repeat(2, 413px);
  grid-gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__text {
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e; }
  .consultation__heading {
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    margin-bottom: 16px; }

@media screen and (max-width: 1120px) {
  .consultation {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 900px) {
  .consultation {
    grid-template-columns: 1fr;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; }
    .consultation__text {
      margin-bottom: 32px; } }

.form__button {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
          box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }

.input {
  background: #f7f8ff;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 17px;
  margin-bottom: 16px;
  width: 100%;
  outline: none; }
  .input::-webkit-input-placeholder {
    color: #b9c1ce;
    font-size: 14px; }
  .input::-moz-placeholder {
    color: #b9c1ce;
    font-size: 14px; }
  .input:-ms-input-placeholder {
    color: #b9c1ce;
    font-size: 14px; }
  .input::-ms-input-placeholder {
    color: #b9c1ce;
    font-size: 14px; }
  .input::placeholder {
    color: #b9c1ce;
    font-size: 14px; }

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.person {
  text-align: center; }
  .person__photo {
    border-radius: 50%; }
  .person__name {
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    margin-bottom: 4px; }
  .person__position {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 13px;
    color: #9fadc2; }
  .person__post {
    color: #3e3e3e; }

@media screen and (max-width: 900px) {
  .testimonials {
    grid-template-columns: 1fr;
    grid-gap: 48px; } }

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  line-height: 27px;
  max-width: 100%; }
  .contact:last-child {
    margin-bottom: 88px; }
  .contact__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; }
  .contact__info-section {
    font-size: 14px;
    color: #9fadc2; }
  .contact a {
    color: #3e3e3e;
    font-weight: normal; }
  .contact address {
    font-style: normal; }

@media screen and (max-width: 640px) {
  .contact {
    grid-template-columns: 1fr; } }

.mobile-nav {
  background-color: #0075ff;
  position: absolute;
  z-index: 2;
  top: -24px;
  left: -56px;
  right: -500px;
  height: 568px;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 120px; }
  .mobile-nav__item {
    margin-left: 29px;
    margin-bottom: 32px; }
  .mobile-nav__link {
    /* display: inline-block; */
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px; }
    .mobile-nav__link:hover {
      color: #9fadc2;
      -webkit-transform: scale(1.02);
              transform: scale(1.02); }
  .mobile-nav__action {
    margin-left: 29px; }
  .mobile-nav__action-link {
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    letter-spacing: 2px; }
    .mobile-nav__action-link::after {
      content: "";
      display: block;
      height: 1px;
      background-color: #fff;
      margin-top: 8px; }

.sandwich-img::before {
  display: none;
  content: "";
  background-image: url(../images/sandwich.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 12px;
  width: 18px;
  cursor: pointer;
  position: absolute;
  right: 0;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.sandwich-img::after {
  display: none;
  content: "";
  background-image: url(../images/x.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 16px;
  width: 16px;
  cursor: pointer;
  position: absolute;
  right: 0;
  z-index: 4; }

input.toggler-menu:checked ~ .mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

input.toggler-menu:checked ~ .sandwich-img::before {
  display: none; }

input.toggler-menu:checked ~ .sandwich-img::after {
  display: block; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

body,
input,
textarea,
button,
h1 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

body {
  background-color: #f2f2f2;
  margin: auto;
  overflow-x: hidden; }

ul,
li {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

input:hover,
textarea:hover,
button:hover,
a:hover {
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
